*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: aliceblue;
}

#flecha{
    margin-right: 60em;
    font-size: 30%;
}

.cabecalho{
    text-align: center;
    background-color: rgb(21, 21, 98);
    height: 25vh;
    padding-top: 3em;
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
}

.endereco{
    text-align: center;
    margin: 5em auto;
    padding-top: 3em;
    border: solid 1px black;
    border-radius: 20px;
    height: 20vh;
    width: 50%;
    align-items: center;
}