*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    background-color: aliceblue;
}

#flecha{
    margin-right: 60em;
    font-size: 30%;
}

.cabecalho{
    text-align: center;
    background-color: rgb(21, 21, 98);
    height: 25vh;
    padding-top: 3em;
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
}

.endereco{
    text-align: center;
    margin: 2em auto;
    padding-top: 3em;
    border: solid 1px black;
    border-radius: 20px;
    height: 45vh;
    width: 50%;
    align-items: center;
    font-size: 20px;
}

#ai{
    margin-right: 10em;
    color: orange;
    display: inline-block; 
    gap: 3px;
}

a{
    display: inline-block;
    text-decoration: none;
}

.links{
    background-color: rgb(159, 225, 255);
    height: 5vh;
    padding-top: 5px;
    text-align: center;
    word-spacing: 30em;
}

#linka:hover{
    color: rgb(133, 141, 253);
}

#linka{
    color: rgb(90, 5, 169);
    font-size: 25px;
}

a:hover{
   color: brown;
}

.ponto{
   gap: 30px;
   margin-right: 20em;
   padding-top: 20px;
   display: inline-block;
}

#para2{
    margin-left: 1em;
}

#para3{
margin-left: 0.5em;
}

#pao{
    margin-left: 2em;
    margin-top: 10px;
    color: rgb(245, 14, 126);

}

button{
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    height: 5vh;
    border: none;
    width: 50%;
    background-color: rgb(56, 97, 86);
    border-radius: 10px;
    cursor: pointer;

}


button:hover{
    background-color: aquamarine;
    color: black;
}

/******************************************/

.voltar{
    margin-top: 40px;
    margin-left: 6em;
    font-size: 25px;
}

.endereco2{
    text-align: center;
    margin-top: 2em;
    font-size: 25px;
    border: solid 1px black;
    border-radius: 15px;
    height: 17vh;
    padding-top: 30px;
}

#ai3{
    display: inline-block; 
    margin-left: 290px;
}

#ai4{
    display: inline-block;
    padding-left: 9.5em;
    margin-right: 11em;
}

#tane{
    margin-left: 15px;
}

.container2{
    display: flex;
    margin-top: 2em;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 55%;
    display: left;
    margin-left: 20em;
    
}

.retangulo, .retangulo1, .retangulo2{
    padding-top: 30px;
    display: inline-block;
    height: 30vh;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(97, 155, 255);
    cursor: pointer;
    color: white;
}

.retangulo1{
    width: 57%;
}

#paragrafo{
   color: rgb(73, 255, 73);
   display: inline-block;
}

#retirada{
    color: rgb(255, 251, 0);
}

#retirada, #paragrafo{
    margin-top: 10px;
}

.retangulo:hover, .retangulo1:hover, .retangulo2:hover{
     transform: scale(1.1);
}

.retangulo:active, .retangulo1:active, .retangulo2:active{
    border: solid 2px blue;
}

.ponto2{
    gap: 30px;
   text-align: center;
   margin-left: 33em;
   padding-top: 2em;
   display: inline-block;
}

#ponto3, #ponto4, #ponto5{
    display: inline-block;
    gap: 60px;
    font-size: 20px;
}

#pao2{
    margin-right: 20px;
    margin-top: 5px;
     font-size: 20px;
    color: rgb(245, 14, 126);
}

#ponto4{
    margin-left: 0.5em;
}

#ponto5{
    margin-left: 0.5em;
}

hr{
    margin-top: 30px;
    border: solid 1px black;

}
